@model IEnumerable<SalesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
@*             <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
                <td align="right">
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" style="text-decoration:none">
                        <i class="fas fa-edit text-primary"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" title="Details" style="text-decoration:none">
                        <i class="fas fa-info-circle text-info"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" style="text-decoration:none">
                        <i class="fas fa-trash-alt text-danger"></i>
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
